{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@helpers": "./src/helpers",
          "@abstracts": "./src/abstracts",
          "@interfaces": "./src/interfaces",
          "@components": "./src/components"
        }
      }
    ]
  ]
}
